# =======================================
# Python
# =======================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# =======================================
# Lambda Deployment Package
# =======================================
*.zip
package/
dist/
build/
.env
.venv/
.env.*
*.sqlite3

# =======================================
# macOS
# =======================================
.DS_Store
.AppleDouble
.LSOverride

# =======================================